<extend name="Base/common"/>


<block name="side">
</block>

<block name="body">
    <style>
        /*#myFocus{ width:600px; height:400px;}*/
    </style>
    <div id="myFocus"><!--焦点图盒子-->
        <div class="loading"><img src="__IMG__/loading.gif" alt="请稍候..." /></div><!--载入画面(可删除)-->
        <div class="pic"><!--内容列表(li数目可随意增减)-->
            <ul>
                <volist name="toplist" id="vo">
                    <li><a href="#"><img src="./{$vo.cover.path}"  alt="{$vo.title}" text="{$vo.title}" /></a></li>
                </volist>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        myFocus.set({
            id:'myFocus',//ID
            pattern:'mF_YSlider',
            width:600,
            height:400
        });
    </script>
</block>

