.subsite{
    width:340px;
    padding:5px 20px
}
.subsite a{
    display: inline-block;
    padding:5px;
    color:#000;
    width:100px;
    text-align: center;
    margin-right: 1px;
}
.subhead{
    background-color: #F8F8F8;
}

.subhead .container{
    background: url(../images/xk/thead.jpg)  no-repeat ;
    background-size:  100%;
    height:282px;
    margin-top:5px;
}

.subhead .container .navdiv{
    width:70%;
    display: inline-block;
    float:left;
}
.subhead .container .navright{
    width:29%;
    display: inline-block;
    float:left;
    margin-top:185px;
    color:#eb9620;
}
.subhead .container .navdiv ul{
    margin: 0;
}
.subhead .container .navdiv ul li{
    list-style: none;
    display: inline-block;
    width:110px;
    text-align: left;
    line-height: 30px;
    position: relative;
}
.subhead .container .navdiv ul li a{
    color: #808080;
}
.subhead .container .navdiv ul li a:hover{
    color: red;
}
.subhead .container .navdiv ul li:after{
    content: '|';
    color: #d3d3d3;
    right:20px;
    position: absolute;
}

.subhead .container .navdiv ul li.noafter:after{
    content: '';
}

/* 栏目 css */
.subhead .container .bannercats{
    width:100%;
    height: 40px;
    float:left;
}

.subhead .container .bannercats >ul{
    display: table;
    list-style: none;
    width:100%;
    margin: 0;
    border-top:2px solid #ED9620;
    white-space: nowrap;
}
.subhead .container .bannercats >ul >li:last-child{
    border-right:none;
}
.subhead .container .bannercats >ul >li{
    display: table-cell;
    box-sizing:border-box;
    width:11.11%;
    text-align: center;
    background-color: #009983;
    height:40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color:white;
    cursor: pointer;
    border-right: 1px solid #d3d3d3;
    position: relative;
}
.subhead .container .bannercats >ul >li a{
    color:white;
    display: block;
    width:100%;
    height:100%;
    text-decoration: none;
}
.subhead .container .bannercats >ul >li:hover{
    background-color: #ED9620;
    color:white;
}


.subhead .container .bannercats >ul >li >ul{
    display: none;
    list-style: none;
    width:120%;
    position: absolute;
    left:-10%;
    margin:0;
    border-top: 1px dotted #d3d3d3;

}

.subhead .container .bannercats >ul >li >ul>li{
    background-color: #ED9620;
    color:white;
    width:100%;
    height:40px;
    line-height: 40px;
    border-bottom: 1px dotted #d3d3d3;
}


.subhead .container .bannercats >ul >li >ul>li:hover{
    background-color: #009983;
    color:white;
    width:100%;
    height:40px;
    line-height: 40px;
}
.subhead .container .bannercats >ul >li:hover>ul{
    display: block;
}